<div class="container">

  <div class="content_page">

  <h3>4º STEP: Chose your flight back ✈️ </h3>




    <% @flight_data.each do |flight|%>

        <div class="d-flex">
          <div class="flights-card mt-3">
            <div class="d-flex justify-content-between">

              <div class="offers-card-content">
                <h6><strong>DEPARTURE</strong></h6>

                <div class="d-flex">
                  <div class="d-flex">
                    <div class="me-2"><i class="fa-solid fa-plane-departure"></i></div>

                    <div class="me-5 d-flex flex-column justify-content-between">
                      <p> <%= flight[:localisation]%> </p>
                      <p> <%=flight[:start_date]%> </p>
                    </div>
                  </div>

                  <div class="d-flex">
                    <div class="me-2"><i class="fa-solid fa-plane-arrival"></i></div>

                    <div class="me-5 d-flex flex-column justify-content-between">
                      <p> <%=flight[:destination]%> </p>
                      <p> <%= flight[:end_date]%> </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="offers-card-content-price text-end d-flex flex-column justify-content-between">
                <div>
                  <h4><strong><%= flight[:price_per_passenger]%>€</strong></h4>
                  <h6>Price</h6>
                </div>
                <div>
                  <%= button_to "Select", {:controller => "flights", :action => "create_back", flight: flight, offer_id: @offer.id}, class: "btn_select", method: :post %>
                </div>
              </div>

            </div>
          </div>
        </div>

      <% end %>
    </div>

  </div>

</div>
