
<div class="container">


  <div class="mt-5">
  <p>Looking for: <strong><i><%= @offer.localisation %></i></strong> to <strong><i><%= @offer.destination %></i></strong> 🏝️ Vacation starts at <strong><i> <%= @offer.start_date.strftime("%A, %b %d") %> </i></strong> until <strong><i><%= @offer.end_date.strftime("%A, %b %d") %></i></strong></p>
  <div class="thin-line-between-yellow"></div>
  </div>

  <div class="d-flex">
    <div class="content_page">
    <div class="row justify-content-center">
  </div>

    <h3>3º STEP: Chose one activity package <i class="fa-regular fa-face-laugh-wink"></i> </h3>

    <div class="col-sm-8 my-3">
      <%= form_with url: packaging_activities_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control search-input",
              placeholder: "Type a keyword"
          %>
        <%= hidden_field_tag :hotel_id,
            params[:hotel_id]
        %>
        <%= hidden_field_tag :offer_id,
            params[:offer_id]
        %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary btn-search" %>
      <% end %>
    </div>

      <% @activity_data.each do |activity|%>

        <div class="d-flex">
          <div class="flights-card mt-3">
            <div class="d-flex justify-content-between">

              <div class="w-100">
                <div class="d-flex w-100">
                  <div class="me-3">
                    <%= image_tag activity[:picture], class: "image-hotel", alt: "" %>
                  </div>

                  <div class="w-100">
                    <div class="w-100 pe-3 d-flex justify-content-between">
                      <div><p class="tag-category"><strong> <%= activity[:category]%> </strong></p></div>
                      <div><p><%= activity[:rating]%><i class="fa-solid fa-star ms-2"></i></p></div>
                    </div>

                    <div>
                    <p> <%= activity[:activity1]%> </p>
                    </div>
                    <div>
                    <p> <%= activity[:activity2]%> </p>
                    </div>
                    <div>
                    <p> <%= activity[:activity3]%> </p>
                    </div>
                    <div>
                    <p> <%= activity[:activity4]%> </p>
                    </div>
                  </div>

                </div>
              </div>

              <div class="offers-card-content-price text-end d-flex flex-column justify-content-between">
                <div>
                  <h4><strong><%= sprintf("%.2f", activity[:price])%>€</strong></h4>
                  <h6>Price</h6>
                </div>

                <div>
                  <%= button_to "Select", {:controller => "packaging_activities", :action => "create", packaging_activities: activity, offer_id: @offer.id},class: "btn_select", data: { turbo_method: :patch } %>
                </div>

              </div>

            </div>
          </div>
        </div>

      <% end %>
      </div>

      <div class="flights-card text-end ms-5 sticky-top basket" style="margin-top: 107px;">
        <h5><strong> Check out your Package <i class="fa-solid fa-sack-dollar"></i></strong></h5>
        <div class="thin-line-between-red mb-4"></div>

        <div class="offers-card-content">
          <%# <p> There's nothing yet...</p> %>
          <p><i class="fa-solid fa-paper-plane"></i> Flight: <strong><%= @offer.flights.sum(:price) / 2  %>€</strong></p>
          <% hotel_total = @offer.hotel.price * @num_nights %>
          <p><i class="fa-solid fa-hotel"></i> Hotel x  <%= @num_nights %> days: <strong><%= hotel_total %>€</strong></p>

          <div class="thin-line-between mb-2"></div>

          <h4>Total: <strong><%= sprintf("%.2f", @offer.flights.sum(:price) / 2  + hotel_total)%>€</strong></h4>
          <p class="text-grayish">Budget left: <%= sprintf("%.2f", @offer.budget - @offer.flights.sum(:price) / 2  - hotel_total) %>€</p>
        </div>
      </div>

    </div>

  </div>
</div>
