<div class="container">

  <h3 class="mt-5 title-gradient text-center">Budget, Book... and enjoy your Travel!</h3>

  <div class="search-form mt-2">
    <%= simple_form_for @offer, data: { controller: 'flatpickr' } do |f| %>
    <div class="d-flex align-items-center">
      <%= f.input :localisation, placeholder: "From?", wrapper_html: {class: "me-3 mt-3"}, label: false %>
      <%= f.input :destination, placeholder: "To?", wrapper_html: {class: "me-3 mt-3"}, label: false %>
      <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } },  placeholder: "Start Date", wrapper_html: {class: "me-3 mt-3"}, label: false %>
      <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' },  placeholder: "End Date", wrapper_html: {class: "me-3 mt-3"}, label: false %>
      <%= f.input :budget, placeholder: "Budget", wrapper_html: {class: "mt-3"}, label: false %>
      <div class="ms-3">
      <%= f.submit "Search", class: "btn_cta"%>
      </div>
    <% end %>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var startDateInput = document.getElementById("start_date_input");
      var endDateInput = document.getElementById("end_date_input");

      startDateInput.addEventListener("input", function() {
        var startDate = new Date(startDateInput.value);
        var minEndDate = new Date(startDate.getTime() + 24 * 60 * 60 * 1000); // Adding one day in milliseconds

        var year = minEndDate.getFullYear();
        var month = String(minEndDate.getMonth() + 1).padStart(2, "0");
        var day = String(minEndDate.getDate()).padStart(2, "0");

        endDateInput.min = `${year}-${month}-${day}`;
      });
    });
  </script>

  <h5 class="mt-5 text-center">Or...you can also check our</h5>
  <h4 class="text-center">🔥 Hot Offers 🔥</h4>
<div class="flights-card" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
