


  <div class="flights-card" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <%= simple_form_for @offer do |f| %>
      <%= f.input :localisation, placeholder: "From" %>
      <%= f.input :destination, placeholder: "To" %>
      <%= f.input :start_date, as: :date, html5: true,  placeholder: "Start Date", id: "start_date_input" %>
      <%= f.input :end_date, as: :date, html5: true, placeholder: "End Date", id: "end_date_input", min: Date.current %>
      <%= f.input :min_budget, placeholder: "Min Budget" %>
      <%= f.input :max_budget, placeholder: "Max Budget" %>
      <%= f.submit "Search" %>
    <% end %>




  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var startDateInput = document.getElementById("start_date_input");
      var endDateInput = document.getElementById("end_date_input");

      startDateInput.addEventListener("input", function() {
        var startDate = new Date(startDateInput.value);
        var minEndDate = new Date(startDate.getTime() + 24 * 60 * 60 * 1000); // Adding one day in milliseconds

        var year = minEndDate.getFullYear();
        var month = String(minEndDate.getMonth() + 1).padStart(2, "0");
        var day = String(minEndDate.getDate()).padStart(2, "0");

        endDateInput.min = `${year}-${month}-${day}`;
      });
    });
  </script>
