<h1>Flight overview</h1>

<div class="container d-flex">
  <%@flight_data.each do |hash|%>
    <div class="card m-1" style="width: 18rem;">
      <%# <img class="#" src=# alt="Card image cap"> %>
      <div class="card-body">
        <h5 class="card-title"><%= hash[:arrival_location]%></h5>
        <p class="card-text">Some quick example text</p>
        <input type ="checkbox" id="add">
        <label for ="add">Add</label>
      </div>
    </div>
  <%end%>
</div>

<%= simple_form_for(@flight) do |f| %>
  <%= f.input :address %>
  <%= f.input :rating %>
  <%= f.submit %>
<% end %>

<h1>Hotel overview</h1>

<div class="container d-flex">
  <%@hotel_data.each do |hash|%>
    <div class="card m-1" style="width: 18rem;">
      <%# <img class="#" src=# alt="Card image cap"> %>
      <div class="card-body">
        <h5 class="card-title"><%= hash[:hotel_title]%></h5>
        <p class="card-text">Some quick example text</p>
        <input type ="checkbox" id="add">
        <label for ="add">Add</label>
      </div>
    </div>
  <%end%>
</div>
