<h1>Welcome to Offers index</h1>


<% @offers.each do |offer| %>
  <p>==========================================</p>
  <p>Destination: <%= offer.destination %></p>
  <p> Budget: <%= offer.budget %>€</p>
  <p> Start Date: <%= offer.start_date %></p>
  <p> End Date: <%= offer.end_date %></p>
  <p> User ID: <%= offer.user.email %></p>
  <p>==========================================</p>
<% end %>
