<h1>Offer Details</h1>

<h2>Flight</h2>
<p>Departure: <%= @flight.departure %></p>
<p>Arrival: <%= @flight.arrival %></p>
<p>Departure Location: <%= @flight.depart_location %></p>
<p>Arrival Location: <%= @flight.arrival_location %></p>
<p>Price: <%= @flight.price %></p>

<h2>Hotel</h2>
<p>Name: <%= @hotel.name %></p>
<p>Address: <%= @hotel.address %></p>
<p>Rating: <%= @hotel.rating %></p>
<p>Price: <%= @hotel.price %></p>
